PUERTO_CPU_DISPATCH=8093
PUERTO_CPU_INTERRUPT=8095
MULTIPROGRAMACION_MAX=3
PUERTO_MEM=8091
PUERTO_ESCUCHA=8097
INSTANCIAS_RECURSOS=[1, 1, 1, 1]
QUANTUM=500
IP_CPU=127.0.0.1
ALGORITMO=VRR
IP_MEMORIA=127.0.0.1
IP=127.0.0.1
RECURSOS=[RA, RB, RC, RD]
RUTA_LOCAL=/home/marcos/cursadaSO/tpact/tp-2024-1c-los-programadores-de-la-nada/kernel
